main
d
programasSecundarios/conversor
programasSecundarios/d1
programasSecundarios/d1.csv
programasSecundarios/leitorBinario
programasSecundarios/testes.txt
"programasSecundarios/Data7602DescendingYearOrder copy.csv"
/.vscode/
d.csv
/potato/